.formulario{
    background-color: var(--blanco);
    border-radius: 0 30px 0 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    min-height: 60svh;
}

.campo{
    display: grid;
    height: 45px;
    align-items: start;
    margin-bottom: 10px;
    grid-template-columns: 100px 50%;
    color: var(--negro);
}

.large{
    grid-template-columns: 100px auto;
}

.campo>input{
    outline: none;
    border: none;
    max-height: 25px;
    padding: 2px 5px;
    box-sizing: border-box;
    color: var(--blanco);
    background-color: var(--azul);
    border-radius: 0px 10px 0px 12px;
}

.container-xl>.row{
    margin: 0px 0px 10px;
    /*border-bottom: 1px solid var(--gris-oscuro);*/
}

.container-xl>.row.no-margin{
    margin: 0;
}